@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.calc__wraper{
    position: relative;
    width: 100%;
    height: 1127px;
    background: #1F2A3C url(/public/img/Bg.svg) 0 0/cover no-repeat;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

}

.calc__head{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(269.87deg, rgba(125, 209, 193, 0.05) 0%, rgba(136, 125, 193, 0.05) 100%);
    backdrop-filter: blur(2.5px);
    align-items: center;
}

.calc__head-item {
    margin: 0 16px 0 16px;

}

.calc__head .site__name{
    display: block;
    height: 30px;
    /* width: 100%; */
    /* background: url(/public/img/miniLogo.svg) 0 0/cover no-repeat; */
}
.calc__head .contact {
    font-family: 'Kanit';
    font-style: normal;
    text-align: center;
    padding: 8px 37px;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    background: rgba(156, 99, 247, 0.21);
    border: 1px solid #8278B9;
    color: #E2DCFF;
}



.content__wraper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content__wraper .logo{
    width: 80%;
    height: 244px;
    margin: 100px 0 70px 0;
}

.calc__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    
}

.calc__wrap_row{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 78px;
}

.calc__wrap-item{
    display: flex;
    flex: 0 1 50%;
    height: 221px;
    max-width: 442px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(31, 42, 60, 0.85);
    box-shadow: -4px -4px 10px #2B3649, 4px 4px 10px #131C2B;
    border-radius: 20px;
}   

.calc__wrap-item h2{
    width: 80%;
    margin-bottom: 35px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    color: #9C63F7;
}   
.calc__wrap-item ul{
    display: flex;
    position: relative;
    height: 56px;
    width: 95%;
    background: #2B3649;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    padding: 1% 5%;
}   

.calc__wrap-item ul li:nth-child(-n+2){
    color: #7DD1C1;
}

.calc__wrap-item ul li{
    /* position: absolute; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15em;
    
}   

.calc__wrap .calc__wrap_row .air {
    position: relative;
    
}
.calc__wrap .calc__wrap_row .air .debug{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    text-align: center;
    color: #81ADC0;

}

/* *,
*:before,
*:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
.air__speed{
    position: absolute;
    left: 42%;
    top: 9%;
    scale: 1.3;
}

.air__speed::after{
    content: '%';
    position: absolute;
    top: 117px;
    left: 75px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #81ADC0;
}


.eclipse-gradient{
    position: absolute;
    left: 8px;
    width: 141.84px;
    height: 140.84px;
    background: url(/public/img/speedair/backgrLine2.svg) 0 0/contain no-repeat;
    z-index: 90;
    
}
.eclipse-gradient-second{
    position: absolute;
    width: 153.84px;
    height: 153.84px;
    background: url(/public/img/speedair/backgrLine.svg) 0 0/contain no-repeat;
    z-index: 90;
    
}
.eclipse-speed{
    position: absolute;
    left: 25px;
    top: 22px;
    width: 104.84px;
    height: 103.84px;
    background: url(/public/img/speedair/data.svg) 0 0/contain no-repeat;
    z-index: 90;
    
}

.back__big-circle{
    position: absolute;
    width: 82.33px;
    height: 82.33px;
    top: 33px;
    left: 36px;
    border-radius: 50%;
    background: #1F2A3C;
    border: 1.17614px solid rgba(255, 255, 255, 0.02);
    z-index: 99;
}

.debug {
    position: absolute;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    z-index: 100;
    color: #81ADC0;
    left: 66px;
    top: 63px;
    z-index: 100;
}

.circle {
  position: absolute;
  top: 50px;
  left: 50px;
  /* background-color: #9b59b6; */
  border-radius: 50%;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 10px rgba(#000, 0.5);
  z-index: 99;
}
.circle:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: #ecf0f1;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.back__small-circle{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 1px;
    top: 0px;
    border-radius: 50%;
    z-index: 98;
    background: #263245;
    border: 1.17614px solid rgba(255, 255, 255, 0.02);
    box-shadow: -4.70455px -4.70455px 10px rgba(255, 255, 255, 0.05), 4.70455px 4.70455px 10px rgba(0, 0, 0, 0.25);
}

.circle .dot {
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(240deg);
  transform-origin: center bottom;
  z-index: 1000;
  /* background: url(/public/img/speedair/Union.svg) no-repeat; */
}
.circle .dot:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  background-color: #ff0000;
  box-shadow: -4.70455px 0px 11.7614px rgba(237, 7, 7, 0.7);
  width: 200%;
  transform: translate3d(-25%, -25%, 0);
  height: 0;
  padding-bottom: 200%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}