




.debug {
  color: rgba(0, 0, 0, 0);
  font-family: monospace;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  font-size: 3vw;
  left: 33px;
  top: 36px;
  z-index: 150;

  @media (max-width: 1153px){
    left: 31px;
    top: 31px;
    font-size: 25px;
  }

  @media (max-width: 1055px){
    left: 27px;
    top: 25px;
  }
  @media (max-width: 950px){
    top: 21px;
    left: 23px;
    font-size: 21px;
  }
  @media (max-width: 450px){
    top: 19px;
    left: 22px;
  }
  @media (max-width: 393px){
    left: 20px;
  }
  @media (max-width: 353px){
    left: 50%;
  }
}

.circule-absolute{
  position: absolute;
  z-index: 90;
  width: 100%;
  left: 63px;
  top: 117px;
}

.circle {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 90;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 13%;
  height: 0;
  padding-bottom: 30%;
    top: -2px;
    left: 51%;
    border-radius: 50%;
    width: 15%;
    height: 0;
    padding-bottom: 15%;
  transform: translate3d(-50%, -50%, 0);
  // box-shadow: 0 0 10px rgba(#000, 0.5);
  transition: all;

  @media (max-width: 1153px){
    top: 0px;
    left: 51%;
    width: 14%;
    padding-bottom: 14%;
  }

  @media (max-width: 1055px){
    top: 0px;
    left: 50%;
    width: 12%;
    padding-bottom: 12%;
  }
}
